
body{
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: antiquewhite;
}


nav{
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 777px;
  height: 99px;
  margin-bottom: 30px;
}

.page-title{
  color: white;
}

.earth-icon{
  filter: invert(100%);
}
section{
  padding: 75px;
}

.content{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-block: 45px;
}

.photo-details{
  float: right;
  max-width: 500px;
}

.main-photo{
  width: 250px;
  height: 333px;
  border-radius: 9px;
}

.location-indicator{
  width: 12px;
  padding: 0 5px;
}

.gap{
  margin-left: 23px;
}

.bold{
  font-weight: bold;
}

@media screen and (max-width:768px) {

  
  .description{
    /* width: 70px; */
    /* height: 217px; */
    overflow: hidden;
  }

}
@media screen and (max-width:568px) {
  .page-title {
    font-size: 1.9rem;
  }
  body{
    font-size :0.5rem;
  }
  .description{
    width: 170px;
    height: 217px;
    overflow: hidden;
  }
  .main-photo{
    width: 131px;
    height: 222px;
  }

  .gap {
    font-size: 0.55rem;
    margin-left: 6px;
}
.content{
  gap: 10px;
  margin-bottom: -45px;
  padding-block: 3px;
}
.bold{
  font-size: 0.7rem;
}
.down{
  margin-bottom: -6px;
}
.title{
  font-size: 1rem;
  margin-bottom: -6px;
}

}